<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Aihe</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Luo keskustelun aihe </h1>

        <!--tämän jälkeen olen lisännyt 14.10.2016-->

        <form action="/" method="GET" id="form1">
            Aihe: <br/> <input type="text" name="aiheNimi" size="60"/> 
            
            <br/>  <br/>
            Aiheen kuvaus: <input type="text" name="aiheKuvaus" size="120"/>
            <button type="submit" form="form1" value="Lisää">Lisää</button> 
            <!-- tähän asti-->
        </form>
        
    </body>
</html>