<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head><title>Alalaude-forum</title>
        <meta charset="utf-8" />
    </head><br/><br/>
            <h1>ALALAUDE-FOORUMI</h1><br/>
            
    <nav>
        <!--         <span th:text="${index.kotivisivulle}">Kotisivu</span> <a th:href="${'/index/'}">linkki</a>
                  <span th:text="${aihe.aiheisiin}">Aihe</span> <a th:href="${'/aihe/' + aihe.id}">linkki</a>
        -->
    </nav>

    <body  bgcolor="#8FB481">
        <section>
            <h2>HAKUKENT&Auml;T</h2>
            <form action="/" method="GET" id="form1">
                Otsikkohaku: <input type="text" name="oTeksti" size="60"/> 

                <button type="submit" form="form1" value="Submit">Hae</button>  <br/><br/>  </form>

            <ol>
                <li th:each="otsikko: ${hakuOtsikot}">
                    <span th:text="${otsikko.teksti}">Viestiketjut</span> <a th:href="${'/otsikot/' + otsikko.id}">linkki</a>
                </li>
            </ol>

            <form  action="/" method="GET" id="form2">
                Aihehaku: <input type="text" name="aihe" size="60"/> 

                <button type="submit" form="form2" value="Submit1">Hae</button>    <br/>   <br/> 
            </form>
            <ol>
                <li th:each="aihe: ${hakuAiheet}">
                    <span th:text="${aihe.nimi}">Viestiketjut</span> <a th:href="${'/aiheet/' + aihe.id}">linkki</a>
                </li>
            </ol>
            <!--<input type="checkbox" name="nick" value="Nick">Nicks-->   
        </section>


        <article>
            <h2>Suosituimmat aiheet TOP5</h2>

            <ol>
                <li th:each="aihe: ${aiheet5}">
                    <span th:text="${aihe.nimi}">Aiheet</span> <a th:href="${'/aiheet/' + aihe.id}">viesti aiheeseen</a>


                </li>
            </ol>

        </article>

        <aside>
            <h2>Uusimmat viestiketjut TOP10</h2>
            <ol>
                <li th:each="otsikko: ${viestit10}">
                    <span th:text="${otsikko.teksti}">Viestiketjut</span> <a th:href="${'/otsikot/' + otsikko.id}">linkki</a>


                </li>
            </ol>

        </aside>

    </body>
</html>