<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>T&auml;h&auml;n ketjun</h1>
        <h2 th:text="${otsikko.teksti}">keskusteluaihe</h2>
        <h3> otsikko, johon vastaus</h3>


        
        <ol>
            <li th:each="viesti: ${viestit}">
                <span th:text="${viesti.viesti}">viesti</span>
                <br/><i><span th:text="${viesti.nimiM}">viesti</span></i>
            </li>
        </ol>
        <!-- tähän asti lisätty 29.10.2016-->

        <form action="/viestit" method="POST" id="form1">
            <input type="hidden" name="otsikkoId" th:value="${otsikko.id}"/>
            <br/><br/>
            Viesti: <textarea name="Viesti" rows="10" cols="100"></textarea>
            <br/><br/>
            Nimimerkki: <input type="text" name="nimiM" size="60"/>
            <br/><br/>
            <button type="submit" form="form1" value="Submit">L&auml;het&auml;</button>
        </form>

    </body>
</html>